body{
    background-color: rgb(158, 158, 158);
    color:rgb(255, 255, 255);
    margin: 0;
    padding: 20px;

}

h1{
    /* color: rgb(255, 255, 255); */
    text-align: center;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 60px;
    background: linear-gradient(to top, #000000,#ffffff, #050505, #000000);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

.galeria-item h4{
    color: rgb(255, 255, 255);
}

.galeria-item img {
    height: 200px;
    width: 200px;
    box-shadow: 20px;
    border-radius: 10px;
    margin: 5px;
    transition: transform 0.3s ease;
}

.galeria-item:hover{
    transform: scale(1.05);
}

.galeria-item img:hover{
    transform: scale(1.05);
}

.galeria{
    display: flex;  
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    
}

.galeria-item {
    background-color: #606060;
    border-radius: 8px;
    box-shadow: 02px 5px rgba(0, 0, 0, 1);
    padding: 10xp;
    /* flex: 1 1 calc(33.33% - 20px); */
    text-align: center;
    height: 350px;
    width: 350px;
    transition: transform 0.3s ease;
} 

/* .divTransition{
    transition: transform 0.3s ease;
} */